<div class="content-block dx-card responsive-paddings" *ngIf="resource">
    <h2>{{resource.nomeEntidade.plural}}</h2>


    <tabela-listagem
        #tabelaListagem
        [url]="getUrlOperacoes()"
        [valueExpr]="resource.fieldPk"
        [colunas]="resource.colunas"
        [actions]="actions"
    ></tabela-listagem>


    <modal-padrao
        [titulo]="resource.nomeEntidade.plural"
        [(isVisible)]="showModal"
        [salvar]="salvar()"
    >
        <tabela-listagem
            #tabelaListagemModal
            [colunas]="resource.colunas"
            [valueExpr]="resource.fieldPk"
            [selectionMode]="'multiple'"
            [url]="getUrlModalAssociacao()"
        ></tabela-listagem>
    </modal-padrao>
</div>
