<div class="row">
    <div class="col-md-10">

        <seletor-unico
            [textoInput]="nomeAtividade"
            (onClick)="abrirDetalhamentoAulas()"
            [disabled]="pitAprovadoOuEmRevisao"
        ></seletor-unico>

        <modal-padrao
            [titulo]="nomeAtividade"
            [(isVisible)]="showModalDetalhamento"
            [salvar]="salvar()"
        >

            <div *ngFor="let resposta of respostas" class="row mt-3">
                <div class="col-md-9">
                    <modal-seletor
                        [colunas]="colunasComponentesCurriculares"
                        [route]="rotaComponentes"
                        [columnsFilter]="colunasFilter"
                        [titulo]="'Selecionar Componente Curricular'"
                        [valueExpr]="'idComponenteCurricular'"
                        [displayExpr]="'nome'"
                        [disabled]="resposta.componenteCurricular ? true : false"
                        [displayFunction]="formatNomeComponente"
                        [(selectedItem)]="resposta.componenteCurricular"
                        (selectedItemChange)="componenteSelecionadoChanged(resposta)"
                    ></modal-seletor>
                </div>
                <div class="col-md-2">
                    <app-carga-horaria-editor
                        [min]="min"
                        [max]="max"
                        [(value)]="resposta.cargaHorariaSemanal"
                        (onValueChanged)="changeCargaHorariaResposta(resposta)"
                    ></app-carga-horaria-editor>
                </div>
                <div class="col-md-1" *ngIf="resposta.componenteCurricular">
                    <dx-button
                        icon="close"
                        stylingMode="outlined"
                        type="danger"
                        [classList]="''"
                        (onClick)="onClickRemoverLinha(resposta)"
                    ></dx-button>
                </div>
            </div>

        </modal-padrao>
    </div>

    <div class="col-md-2">
        <app-carga-horaria-editor
            [(value)]="totalHoras"
            [readOnly]="true"
        ></app-carga-horaria-editor>
    </div>
</div>
